{% extends 'ayto/base.html' %}
{% load apptags %}

{% block page_content %}
	<div class="row">
		<div class="col"><h3>Match Ups</h3></div>
	</div>

	<div class="row">
		<div class="col">
			<div id="index-key"><span class="key">Color key:</span>
				<span class="key match-status_eliminated">Eliminated</span>
				<span class="key match-status_perfect-match">Perfect Match</span>
				<span class="key match-status_speculative-match">Speculative Match</span>
				<span class="key match-status_pending">Overlapped Match</span>
				<span class="key match-status_mismatch">Unknown Status</span>
			</div>
			<table class="table table-bordered">
				{% for week in weeks_rows %}
					<tr>
						<td>
							<div>Week&nbsp;{{week.week_number}}&nbsp;({{week.matches_count}}&nbsp;matches)</div>
							<div>Truth&nbsp;Booth</div>
							<div>
								{% for tb in week.truthbooth_set.all %}
									<strong>
									{{tb.matchup.participant1.name}} + {{tb.matchup.participant2.name}}</strong>
									<br />
									<strong>{{tb.match}}</strong>
								{% endfor %}
							</div>
							<div>
								<strong>Matches</strong>
								{% for match in week.matchup_set.all %}
								<div  class="match-status match-status_{% if match.matchup.eliminated %}eliminated{% elif match.matchup.perfect_match %}perfect-match{% elif match.matchup.speculative_match %}speculative-match{%else%}pending{% endif %}">
									<a href="{% url 'pm_detail' participant1_slug=match.matchup.participant1.url_slug participant2_slug=match.matchup.participant2.url_slug %}">{{match.matchup.participant1.name}} + {{match.matchup.participant2.name}}
									</a>
								</div>
								{% endfor %}
							</div>
						</td>
						{% for week_h in weeks_columns %}
						<td class="index-cell">
							{% with week|should_print_week:week_h as print_cell %}
							{% if print_cell %}
								{% if week_h.locked and week.locked > 0 %}
								<div class="index-label">
									[week{{week.week_number}} x week{{week_h.week_number}}]
								</div>
								{% else %}
									&nbsp;
								{% endif %}
								{% with week_h|get_overlaps:week as overlaps %}
									{% for overlap in overlaps %}									
									<div class="match-status match-status_{% if overlap.matchup.eliminated %}eliminated{% elif overlap.matchup.perfect_match %}perfect-match{% elif overlap.matchup.speculative_match %}speculative-match{%else%}pending{% endif %}">
										<a href="{% url 'pm_detail' participant1_slug=overlap.matchup.participant1.url_slug participant2_slug=overlap.matchup.participant2.url_slug %}">{{overlap.matchup.participant1.name}} + {{overlap.matchup.participant2.name}}
										</a>
									</div>
									{% endfor %}
								{% endwith %}

								{% with week_h|get_mismatches:week as mismatches %}
									{% for mismatch in mismatches %}									
									<div class="match-status match-status_{% if mismatch.matchup.eliminated %}eliminated{% elif mismatch.matchup.perfect_match %}perfect-match{% elif mismatch.matchup.speculative_match %}speculative-match{%else%}mismatch{% endif %}">
										<a href="{% url 'pm_detail' participant1_slug=mismatch.matchup.participant1.url_slug participant2_slug=mismatch.matchup.participant2.url_slug %}">{{mismatch.matchup.participant1.name}} + {{mismatch.matchup.participant2.name}}
										</a>
									</div>
									{% endfor %}
								{% endwith %}
							{% endif %}
							{% endwith %}
						</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}