.profile_img {
	width: 300px;
	&_results {
		width: 100px;
	}
}

.wrapper {
	width: 200px;
    float: left;
}

#index-key {
	padding: 1rem 0 .5rem 0;
}

.key {
	margin-right: 2rem;
}

.match-detail-button {
	margin-top: 2rem;
	input.btn {
		width: 16rem;
		padding: 2rem 0;
	}
}

.match-status {
	&_pending {
		color: #007BFF;
		a {
			color: #007BFF !important;
		}
	}
	&_eliminated {
		color: #CCCCCC !important;
		a {
			color: #CCCCCC !important;
		}
	}
	&_perfect-match {
		color: #4FD894 !important;
		a {
			color: #4FD894 !important;
		}
	}
	&_speculative-match {
		color: #FF00DE !important;
		a {
			color: #FF00DE !important;
		}
	}
	&_mismatch {
		color: #FF9800 !important;
		a {
			color: #FF9800 !important;
		}
	}
}
.index-label {
	font-size: .7rem;
}
.index-cell {
	width: 200px;
}
body {
	padding: 2rem;	
}