.profile_img {
	width: 300px;
}

.wrapper {
	width: 200px;
    float: left;
}
.eliminated {
	color: #CCCCCC !important;
	a {
		color: #CCCCCC !important;
	}
}
.perfect-match {
	color: #4FD894 !important;
	a {
		color: #4FD894 !important;
	}
}
.mismatch {
	color: #FF9800 !important;
	a {
		color: #FF9800 !important;
	}
}